In [5]:
#treating missing values
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
missing=np.nan
series_obj=Series(['row1','row2',missing,'row4','row5','row6',missing,'row8'])
print(series_obj)
#isnull method to figure out what data is missing
series_obj.isnull()

0    row1
1    row2
2     NaN
3    row4
4    row5
5    row6
6     NaN
7    row8
dtype: object

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [13]:
#filling iin for missing values
np.random.seed(25)
DF_obj=DataFrame(np.random.rand(36).reshape(6,6))
print(DF_obj)
DF_obj.loc[3:5, 0]=missing
DF_obj.loc[1:4, 5]=missing
print(DF_obj)
#finding missing value with filled method
filled_DF=DF_obj.fillna(0)
print(filled_DF)
#fill forward method
fill_DF=DF_obj.fillna(method='ffill')
print(fill_DF)

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819
          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819
          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819
          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.117376
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.117376
3  0.447031  0.836375  0.481343  0.516502  0.383048  0.117376
4  0.447031  0.559053  0.034450  0.719930  0.421004  0.117376
5  0.447031  0.900274  0.669612  0.456069  0.289804  0.525819

In [14]:
#counting missing values
np.random.seed(25)
DF_obj=DataFrame(np.random.rand(36).reshape(6,6))
print(DF_obj)
DF_obj.loc[3:5, 0]=missing
DF_obj.loc[1:4, 5]=missing
print(DF_obj)
DF_obj.isnull().sum()

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819
          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [15]:
#filtering out missing values
DF_no_NaN=DF_obj.dropna(axis=1)
DF_no_NaN

          1         2         3         4
0  0.582277  0.278839  0.185911  0.411100
1  0.437611  0.556229  0.367080  0.402366
2  0.585445  0.161985  0.520719  0.326051
3  0.836375  0.481343  0.516502  0.383048
4  0.559053  0.034450  0.719930  0.421004
5  0.900274  0.669612  0.456069  0.289804

In [16]:
#as we can see this method drops lots of data from the data set,so we can use predicting value rather than droping of value from row and column
DF_obj.dropna(how='all')

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
#as we can see it doesnt drop any row and column as there isnt any row or column which contains all missing value